    <div class="container">
        <h1>Tela de Edição</h1>
            {{#each cliente}}
             {{#dataValues}}
        <form action="/atualizar" method="POST">
        <div class="form-group">
                <label for="nome">ID:</label>
                <input type="hidden" class="form-control" id="nome" name="id" placeholder="" value="{{id}}"> 
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" value="{{nome}}"> 
            </div>
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite o endereço" value="{{endereco}}"> 
            </div>
            <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Digite o bairro" value="{{bairro}}"> 
            </div>
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" name="cep" placeholder="Digite o CEP" value="{{cep}}"> 
            </div>
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Digite a cidade" value="{{cidade}}"> 
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" class="form-control" id="estado" name="estado" placeholder="Digite o estado" value="{{estado}}"> 
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            {{/dataValues}}
                {{/each}}
        </form>
    </div>
